asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.6
django-bootstrap4==24.3
django-ckeditor==6.7.1
django-cleanup==8.1.0
django-crispy-forms==2.1
django-js-asset==2.2.0
html-parser==0.2
idna==3.7
lxml==5.2.2
pdfkit==1.0.0
pillow==10.3.0
ply==3.11
requests==2.31.0
soupsieve==2.5
sqlparse==0.5.0
tzdata==2024.1
urllib3==2.2.1
wkhtmltopdf==0.2
