{% extends 'base.html' %}
{% load static %}


{% block navbar %}
{% include 'navbar-transparent.html' %}
{% endblock %}
    

{% block body %}
          <!-- Page Title -->
          <section class="page-title bg-img bg-overlay"
          style="background-image: url('{% static 'img/page_title/Blog-standard-Background.png' %}')">        
            <div class="container">
              <div class="page-title__holder">
                <h1 class="page-title__title">Blog Standard</h1>
                <p class="subtitle">News and inspiration</p>
              </div>
            </div>
          </section> <!-- end page title -->
    
          <!-- Blog -->
          <section class="section-wrap bottom-divider pb-56">
            <div class="container">
              <div class="row">
    
                <div class="col-lg-8 blog__content mb-48">
                  <article class="entry">
                    <div class="entry__header">
                      <a href="single-post-1.html">
                        <img src="{%  static 'img/blog/standard/post_1.png'  %}" class="entry__img" alt="">
                      </a>
                      <div class="entry__category">
                        <a href="single-post-1.html" class="entry__category-item">Finance</a>
                      </div>
                    </div>
                    <div class="entry__body">                    
                      <h4 class="entry__title">
                        <a href="single-post-1.html">Business Mistakes to Avoid When Starting a Business</a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta-item entry__meta-author">
                          <a href="#" class="entry__meta-author-url">
                            <img src="{%  static 'img/blog/author/Ellipse.svg'  %}" class="entry__meta-author-img" alt="">
                            <span class="entry__meta-author-name">Alexander Samokhin</span>
                          </a>
                        </span>
                        <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                      </div>
                      <div class="entry__excerpt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie blandit lobortis. Curabitur feugiat laoreet
                        odio. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                      </div>
                    </div>
                  </article>
    
                  <article class="entry">
                    <div class="entry__header">
                      <a href="single-post-1.html">
                        <img src="{%  static 'img/blog/standard/post_2.png'  %}" class="entry__img" alt="">
                      </a>
                      <div class="entry__category">
                        <a href="single-post-1.html" class="entry__category-item">Finance</a>
                      </div>
                    </div>
                    <div class="entry__body">                    
                      <h4 class="entry__title">
                        <a href="single-post-1.html">Utilize these nine resources to help you take the stress out of preparing your taxes</a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta-item entry__meta-author">
                          <a href="#" class="entry__meta-author-url">
                            <img src="{%  static 'img/blog/author/Ellipse.svg'  %}" class="entry__meta-author-img" alt="">
                            <span class="entry__meta-author-name">Alexander Samokhin</span>
                          </a>
                        </span>
                        <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                      </div>
                      <div class="entry__excerpt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie blandit lobortis. Curabitur feugiat laoreet
                        odio. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                      </div>
                    </div>
                  </article>
    
                  <article class="entry">
                    <div class="entry__header">
                      <a href="single-post-1.html">
                        <img src="{%  static 'img/blog/standard/post_3.png'  %}" class="entry__img" alt="">
                      </a>
                      <div class="entry__category">
                        <a href="single-post-1.html" class="entry__category-item">Finance</a>
                      </div>
                    </div>
                    <div class="entry__body">                    
                      <h4 class="entry__title">
                        <a href="single-post-1.html">Investment Update, Successful people ask better questions</a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta-item entry__meta-author">
                          <a href="#" class="entry__meta-author-url">
                            <img src="{%  static 'img/blog/author/Ellipse.svg'  %}" class="entry__meta-author-img" alt="">
                            <span class="entry__meta-author-name">Alexander Samokhin</span>
                          </a>
                        </span>
                        <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                      </div>
                      <div class="entry__excerpt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie blandit lobortis. Curabitur feugiat laoreet
                        odio. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                      </div>
                    </div>
                  </article>
    
                  <article class="entry">
                    <div class="entry__header">
                      <a href="single-post-1.html">
                        <img src="{%  static 'img/blog/standard/post_4.png'  %}" class="entry__img" alt="">
                      </a>
                      <div class="entry__category">
                        <a href="single-post-1.html" class="entry__category-item">Finance</a>
                      </div>
                    </div>
                    <div class="entry__body">                    
                      <h4 class="entry__title">
                        <a href="single-post-1.html">Leadership Qualities and Confidence Make Money</a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta-item entry__meta-author">
                          <a href="#" class="entry__meta-author-url">
                            <img src="{%  static 'img/blog/author/Ellipse.svg'  %}" class="entry__meta-author-img" alt="">
                            <span class="entry__meta-author-name">Alexander Samokhin</span>
                          </a>
                        </span>
                        <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                      </div>
                      <div class="entry__excerpt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie blandit lobortis. Curabitur feugiat laoreet
                        odio. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                      </div>
                    </div>
                  </article>
    
                  <article class="entry">
                    <div class="entry__header">
                      <a href="single-post-1.html">
                        <img src="{%  static 'img/blog/standard/post_5.png'  %}" class="entry__img" alt="">
                      </a>
                      <div class="entry__category">
                        <a href="single-post-1.html" class="entry__category-item">Finance</a>
                      </div>
                    </div>
                    <div class="entry__body">                    
                      <h4 class="entry__title">
                        <a href="single-post-1.html">Money Market Rates Finding the Best Accounts in last year 2017</a>
                      </h4>
                      <div class="entry__meta">
                        <span class="entry__meta-item entry__meta-author">
                          <a href="#" class="entry__meta-author-url">
                            <img src="{%  static 'img/blog/author/Ellipse.svg'  %}" class="entry__meta-author-img" alt="">
                            <span class="entry__meta-author-name">Alexander Samokhin</span>
                          </a>
                        </span>
                        <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                      </div>
                      <div class="entry__excerpt">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie blandit lobortis. Curabitur feugiat laoreet
                        odio. Quisque ligulas ipsum, euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora
                        torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula.</p>
                      </div>
                    </div>
                  </article>
    
                  <!-- Pagination -->
                  <nav class="pagination clearfix">
                    <span aria-current="page" class="page-numbers current">1</span>
                    <a href="#" class="page-numbers">2</a>
                    <a href="#" class="page-numbers">3</a>
                    <a href="#" class="page-numbers">4</a>
                    <a href="#" class="next page-numbers"><i class="ui-arrow-right"></i></a>
                  </nav>
    
                </div>
    
                <aside class="col-lg-4 sidebar">
                  
                  <!-- Widget Search -->
                  <div class="widget widget_search">
                    <form role="search" class="search-form relative">
                      <input type="search" class="search-input" placeholder="Search..." value="" name="s">
                      <button type="submit" class="search-button" aria-label="search button"><i class="ui-search search-icon"></i></button>
                    </form>
                  </div>
    
                  <!-- Widget Newsletter -->
                  <div class="widget widget_mc4wp_form_widget">
                    <h4 class="widget-title">Newsletter</h4>
                    <form id="mc4wp-form-1" class="mc4wp-form" method="post">
                      <div class="mc4wp-form-fields">
                        <div class="form-group">
                          <input type="email" name="EMAIL" placeholder="Your email" required="">
                        </div>
                        <div class="deo-newsletter-gdpr-checkbox">
                          <label class="deo-newsletter-gdpr-checkbox__label">
                            <input class="deo-newsletter-gdpr-checkbox__input"
                              name="AGREE_TO_TERMS" type="checkbox" value="1" required="">
                              <span class="deo-newsletter-gdpr-checkbox__text">I agree to storage of my email according to <a href="#" target="_blank">Privacy Policy</a></span>
                          </label>
                        </div>
                        <input type="submit" class="btn btn--lg btn--color btn--wide btn--button" value="Subscribe Now">
                      </div>                  
                    </form>
                  </div> <!-- end widget newsletter -->
    
                  <!-- Widget Popular Posts -->
                  <div class="widget widget-popular-posts">
                    <h4 class="widget-title">Popular Posts</h4>
                    <ul class="widget-popular-posts__list">
                      <li>
                        <article class="clearfix">
                          <div class="widget-popular-posts__img-holder">
                            <a href="single-post-1.html">
                              <img src="{%  static 'img/blog/sidebar/popular_post_1.png'  %}" alt="">
                            </a>
                          </div>
                          <div class="widget-popular-posts__entry">
                            <h3 class="widget-popular-posts__entry-title">
                              <a href="single-post-1.html">Investment Update, Successful people ask better questions</a>
                            </h3>
                            <div class="entry__meta">
                              <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                            </div>
                          </div>                      
                        </article>
                      </li>
                      <li>
                        <article class="clearfix">
                          <div class="widget-popular-posts__img-holder">
                            <a href="single-post-1.html">
                              <img src="{%  static 'img/blog/sidebar/popular_post_2.png'  %}" alt="">
                            </a>
                          </div>
                          <div class="widget-popular-posts__entry">
                            <h3 class="widget-popular-posts__entry-title">
                              <a href="single-post-1.html">Utilize these nine resources to help you take the stress out of preparing your taxes</a>
                            </h3>
                            <div class="entry__meta">
                              <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                            </div>
                          </div>                      
                        </article>
                      </li>
                      <li>
                        <article class="clearfix">
                          <div class="widget-popular-posts__img-holder">
                            <div class="thumb-container">
                              <a href="single-post-1.html">
                                <img src="{%  static 'img/blog/sidebar/popular_post_3.png'  %}" alt="">
                              </a>
                            </div>
                          </div>
                          <div class="widget-popular-posts__entry">
                            <h3 class="widget-popular-posts__entry-title">
                              <a href="single-post-1.html">Money Market Rates Finding the Best Accounts in last year 2017</a>
                            </h3>
                            <div class="entry__meta">
                              <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                            </div>
                          </div>                      
                        </article>
                      </li>
                      <li>
                        <article class="clearfix">
                          <div class="widget-popular-posts__img-holder">
                            <div class="thumb-container">
                              <a href="single-post-1.html">
                                <img src="{%  static 'img/blog/sidebar/popular_post_4.png'  %}" alt="">
                              </a>
                            </div>
                          </div>
                          <div class="widget-popular-posts__entry">
                            <h3 class="widget-popular-posts__entry-title">
                              <a href="single-post-1.html">You don’t stand out from the List of the Most Profitable Investment Projects</a>
                            </h3>
                            <div class="entry__meta">
                              <span class="entry__meta-item entry__meta-date">July 06, 2019</span>
                            </div>
                          </div>                      
                        </article>
                      </li>
                    </ul>
                  </div> <!-- end widget popular posts -->              
    
                  <!-- Widget socials -->
                  <div class="widget widget-socials">
                    <h4 class="widget-title">Let’s hangout on socials</h4>
                    <div class="socials">
                      <div class="socials__item">
                        <a class="social social-facebook" href="#" title="facebook" target="_blank">
                          <i class="ui-facebook"></i>
                          <span class="socials__text">Facebook</span>
                        </a>
                      </div>
    
                      <div class="socials__item">
                        <a class="social social-twitter" href="#" title="twitter" target="_blank">
                          <i class="ui-twitter"></i>
                          <span class="socials__text">Twitter</span>
                        </a>
                      </div>
    
                      <div class="socials__item">
                        <a class="social social-google-plus" href="#" title="google" target="_blank">
                          <i class="ui-google"></i>
                          <span class="socials__text">Google+</span>
                        </a>
                      </div>
    
                      <div class="socials__item">
                        <a class="social social-instagram" href="#" title="instagram" target="_blank">
                          <i class="ui-instagram"></i>
                          <span class="socials__text">Instagram</span>
                        </a>
                      </div>
    
                      <div class="socials__item">
                        <a class="social social-pinterest" href="#" title="pinterest" target="_blank">
                          <i class="ui-pinterest"></i>
                          <span class="socials__text">Pinterest</span>
                        </a>
                      </div>
    
                      <div class="socials__item">
                        <a class="social social-linkedin" href="#" title="linkedin" target="_blank">
                          <i class="ui-linkedin"></i>
                          <span class="socials__text">Linkedin</span>
                        </a>
                      </div>
    
                    </div>
                  </div> <!-- end widget socials -->
    
                  <!-- Widget banner -->
                  <div id="widget-none-border" class="widget widget_media_image text-center">
                    <a href="#">
                      <img src="{%  static 'img/blog/sidebar/placeholder_300.png'  %}" alt="">
                    </a>
                  </div>              
    
                </aside>
    
              </div>
            </div>
          </section> <!-- end blog -->
{% endblock %}
    