{% load static %}
<div id="signupOverlay" class="overlay">
    <div class="signupmain">
        <div class="signupcontainer">
            <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
            <div class="signinicon">
                <span id="bulk">Casumi</span>
            </div>
            <div class="orsignup">
                <hr><span>Sign Up with</span>
                <hr>
            </div>
            <div class="signupform">
                <form method="post" id="securitypasswordform" action="{% url 'signup' %}">
                    {% csrf_token %}

                    <label class="signuplabel" for="username">Username</label>
                    <input id="username" type="text" placeholder="Enter your Username" name="username" required
                        autocomplete="username">

                    <label class="signuplabel" for="email">E-mail</label>
                    <input id="email" type="email" placeholder="Enter your e-mail" name="email" required
                        autocomplete="email">

                    <div class="passdiv-password">
                        <p>Password</p>
                    </div>
                    <div class="passdiv">
                        <div class="pass1">
                            <div class="eye" id="eye1">
                                <img id="e" src="{% static 'img/eye-slash.svg' %}" alt="">
                            </div>
                            <label class="pass1" for="password"></label>
                            <input id="password" type="password" placeholder="Create password" name="password" required
                                autocomplete="new-password">
                        </div>
                        <div class="pass2">
                            <div class="eye1" id="eye2">
                                <img id="ey" src="{% static 'img/eye-slash.svg' %}" alt="">
                            </div>
                            <label class="pass1" for="password_repeat"></label>
                            <input id="password_repeat" type="password" placeholder="Repeat password"
                                name="password_repeat" required autocomplete="new-password">
                        </div>
                    </div>
                    <button id="signupcontinue" type="submit">Continue</button>
                </form>

            </div>
            <div class="terms">
                <a href=" {% url 'pricing' %}">Terms of Use</a>
                <span>and</span>
                <a href=" {% url 'pricing' %}">Privacy Policy</a>
            </div>
            <div class="reguestlogin">
                <span>Already have an account?</span>
                <a href="#" id="signuplogin">Log In</a>
            </div>
        </div>
    </div>
</div>

<div id="signinOverlay" class="overlay">
    <div class="signinmain">
        <div class="messageblock">

        </div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="signincontent">
            <div class="signinheader">
                <h2>Hey there, welcome back!</h2>
            </div>
            <div class="signinform">
                <form class="signinform" id="loginForm" action="{% url 'login_view' %}" method="post">
                    {% csrf_token %}
                    <div class="mailzone">
                        <label for="username" id="">Username</label>
                        <input id="usernamelogin" type="text" placeholder="Enter your Username" name="username"
                            required>
                    </div>
                    <div class="passwordzone">
                        <div class="eye" id="logineye">
                            <img id="eye" src="{% static 'img/eye-slash.svg' %}" alt="">
                        </div>
                        <label for="password">Password</label>
                        <input class="passs" id="passwordlogin" type="password" placeholder="Enter your password"
                            name="password" required>
                        <button type="submit" id="toconfirm" name="login" disabled>Login</button>
                    </div>
                </form>
            </div>
            <div class="forgotpassword">
                <h2 id="forgotpassword">Forgot Password?</h2>
            </div>
        </div>
    </div>
</div>

<div id="confirmOverlay" class="overlay">
    <div class="confirm">
        <div class="messageblock">

        </div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="confirmContent">
            <div class="confirmheader">
                <h2>Let’s confirm it’s really you</h2>
                <p>Help us secure your account. Please complete the verifications below</p>
            </div>
            <div class="confirmform">
                <form id="emailform">
                    {% csrf_token %}
                    <div class="confirmzone">
                        <div class="mailz">
                            <input type="checkbox" id="getcodebyemail" name="bymail">
                            <input type="hidden" name="email" value="" id="poster">
                            <input type="hidden" name="form_id" value="email_form">
                            <label for="bymail">Get the code by email at <span id="confirmedemail"></span></label>
                        </div>
                        <div class="phonez">
                            <input type="checkbox" id="getcodebyphone" name="byphone" disabled>
                            <label id='phonez' for="byphone">Get the code by text message (SMS)<span
                                    id="confirmedphone"></span></label>
                        </div>
                    </div>
                    <button id='confirmContinue' type="submit" disabled>Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="securityOverlay" class="overlay">
    <div class="security">
        <div class="messageblock">

        </div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="securitycontent">
            <div class="securityheader">
                <h2>Enter your security code</h2>
                <p>We texted your code to <span id="mailto"></span> </p>
            </div>
            <div class="securityform">
                <form method="post" id="securitypasswordform">
                    {% csrf_token %}
                    <input type="hidden" name="form_id" value="securitypasswordform">
                    <input type="hidden" name="action" value="continue">
                    <div class="securitypass">
                        <div class="characterverify"><input id="input1" type="number" maxlength="1"
                                oninput="moveToNext( 'input1' ,this,'input2')"></div>
                        <div class="characterverify"><input id="input2" type="number" maxlength="1"
                                oninput="moveToNext( 'input1' ,this,'input3')"></div>
                        <div class="characterverify"><input id="input3" type="number" maxlength="1"
                                oninput="moveToNext( 'input2' ,this,'input4')"></div>
                        <div class="characterverify"><input id="input4" type="number" maxlength="1"
                                oninput="moveToNext( 'input3' ,this,'input5')"></div>
                        <div class="characterverify"><input id="input5" type="number" maxlength="1"
                                oninput="moveToNext( 'input4' ,this,'input6')"></div>
                        <div class="characterverify"><input id="input6" type="number" maxlength="1"
                                oninput="moveToNext( 'input5' ,this,'securityContinue')"></div>
                    </div>
                    <button id="securityContinue" type="submit" name="login" disabled>Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="forgotOverlay" class="overlay">
    <div class="forgotmain">
        <div class="messageblock"></div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="forgotcontent">
            <div class="forgotheader">
                <h2>Reset Password</h2>
                <p>Recover your account password</p>
            </div>
            <div class="forgotform">
                <form method="post" id="forgotmailform">
                    {% csrf_token %}
                    <label for="mailarea">Email</label>
                    <input type="hidden" name="email" value="" id="poster">
                    <input type="hidden" name="form_id" value="verify_form">
                    <input type="text" id="forgotmailarea" name="email" placeholder="Enter your username" required
                        autocomplete="email">
                </form>
                <button id='forgotnext' type="submit" disabled>Next</button>
            </div>
        </div>
    </div>
</div>

<div id="forgotVerifyOverlay" class="overlay">
    <div class="forgotVerify">
        <div class="messageblock">
        </div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="forgotVerifycontent">
            <div class="forgotVerifyheader">
                <h2>Enter your verification code</h2>
                <p>We texted your code to </p>
                <p id="verifyemailaddress"></p>
            </div>
            <div class="forgotVerifyform">
                <form method="post" id="forgotVerifypasswordform">
                    {% csrf_token %}
                    <div class="verifypass">
                        <div class="characterverify"><input id="input7" type="number" maxlength="1"
                                oninput="moveToNext( 'input7' ,this,'input8')"></div>
                        <div class="characterverify"><input id="input8" type="number" maxlength="1"
                                oninput="moveToNext( 'input7' ,this,'input9')"></div>
                        <div class="characterverify"><input id="input9" type="number" maxlength="1"
                                oninput="moveToNext( 'input8' ,this,'input10')"></div>
                        <div class="characterverify"><input id="input10" type="number" maxlength="1"
                                oninput="moveToNext( 'input9' ,this,'input11')"></div>
                        <div class="characterverify"><input id="input11" type="number" maxlength="1"
                                oninput="moveToNext( 'input10' ,this,'input12')"></div>
                        <div class="characterverify"><input id="input12" type="number" maxlength="1"
                                oninput="moveToNext( 'input11' ,this,'input12')"></div>
                    </div>
                    <button id='forgotVerifyNext' type="submit" disabled>Next</button>
                    <div class="resendbutton">
                        <a href=""><button id="resend">Resend</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="newPasswordOverlay" class="overlay">
    <div class="forgotVerify">
        <div class="messageblock">
        </div>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <div class="signinicon">
            <span id="bulk">Casumi</span>
        </div>
        <div class="newPasswordContent">
            <div class="forgotVerifyheader">
                <h2>Create New Password</h2>
            </div>
            <div class="newPasswordform">
                <form method="post" id="passwordchange">
                    {% csrf_token %}
                    <div class="passwordzone">
                        <div class="eye" id="newpass-eye">
                            <img src="{% static 'img/eye-slash.svg' %}" alt="">
                        </div>
                        <label for="id_new_password1">New password</label>
                        <input class="pass" type="password" placeholder="Enter your new password" name="new_password1"
                            id="id_new_password1">

                        <div class="eye" id="newpassagain-eye">
                            <img src="{% static 'img/eye-slash.svg' %}" alt="">
                        </div>
                        <label for="id_new_password2">New password again</label>
                        <input class="pass" type="password" placeholder="Enter your new password again"
                            name="new_password2" id="id_new_password2">
                    </div>
                    <button id="NewPasswordNext" type="submit" disabled>Next</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="successOverlay" class="overlay">
    <div class="successcontent">
        <div class="successscontainer">
            <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
            <div class="successImage">
                <img src="{% static 'img/tick-circle.svg' %}" alt="">
            </div>
            <div class="newPasswordform">
                <div class="successheader">
                    <h2>Success!</h2>
                    <p>Your password is succesfully created</p>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <button id='successContinue' type="submit">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="profileUpdater" class="overlay">
    <div class="overlayContent">
        <h2>Update Profile Picture</h2>
        <div class="close"><img src="{% static 'img/close.svg' %}" alt=""></div>
        <form id="profilePictureForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_profile_picture">Select a new profile picture:</label>
            <input type="file" id="id_profile_picture" name="profile_picture" accept="image/*" required>
            <button type="submit" id="changephotobutton">Update Picture</button>
        </form>
    </div>
</div>

<div class="profilecontents">
    <span id="usernamfield">{{ user.username }}</span>
    <span id="changephoto" onclick="toggledrop()">Change photo</span>
    <form id="logoutForm" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="logout">
        <button id="logoutbutton" class="logoutbutton" type="submit">Logout</button>
    </form>
</div>


<script type="application/json" id="config-data">
    {
        "is_authenticated": {{ user.is_authenticated|yesno:"true,false" }}
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>